<nav class="nav w-full flex items-center justify-between px-8 h-16 py-1">
  <a [routerLink]="['/']" class="logo block">
    <img class="w-full" src="https://d2awz7twruaixb.cloudfront.net/assets/new-icon/homluv-logo.svg" alt="">
  </a>
  <ul class="nav-list flex items-center">
    <li class="nav-list-item">
      <a [routerLink]="['/home']">Explore</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/contact']">Room Ideas</a>
    </li>
    <li class="nav-list-item">
      <a [routerLink]="['/about']">Trends</a>
    </li>
    <li class="nav-list-item blue-btn">
      <a [routerLink]="['/contact']">My Third Board 54</a>
    </li>
  </ul>
</nav>
