<div class="banner px-8 flex justify-between min-h-screen">
  <div class="page-title w-1/2">
    <h1 class="text-8xl text-gray-800 pt-12 mb-4">
      <span class="text-pink-600">Love</span>
      <span class="text-gray-600"> where</span><br>
      <span class="text-gray-600">you</span>
      <span class="text-yellow-600"> Live</span>
    </h1>
    <p class="text-black-600 text-lg leading-6 pt-4 mb-4">
      Your home should match your dreams! HomLuv takes you right into the heart of inspiration, design insights, and new home options so you can fall in love with where you live.
    </p>
    <!-- <storybook-button [Button]="'testt'"></storybook-button> -->
    <button class="blue-btn w-32 mt-5 mr-3 inline-block">Test</button>
    <button class="blue-btn w-32">Start Loving</button>
    <!-- <storybook-button *ngIf="user" size="small" (onClick)="onLogout.emit($event)" label="Log out" ></storybook-button> -->
  </div>
  <div  class="grid relative top-0 right-0 w-2/3 h-full z-0">
    <picture>
      <source srcset="/assets/img/banner-img.avif" type="image/avif">
      <source srcset="/assets/img/banner-img.avif" type="image/webp">
      <img class="w-full h-fusll object-contain" src="/assets/img/banner-img.png" alt="Description of Photo">
    </picture>
  </div>
</div>
