<div class="banner px-8 flex justify-between min-h-screen">
  <div class="page-title w-1/2">
    <h1 class="text-8xl text-gray-800 pt-12 mb-4">
      <span class="text-pink-600">Love</span>
      <span class="text-gray-600"> where</span><br>
      <span class="text-gray-600">you</span>
      <span class="text-yellow-600"> Live</span>
    </h1>
    <p class="text-black-600 text-lg leading-6 pt-4 mb-4">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    </p>
    <!-- <storybook-button [Button]="'testt'"></storybook-button> -->
    <button class="blue-btn w-32 mt-5 mr-3 inline-block">Test</button>
    <button class="blue-btn w-32">Start Learning</button>
    <!-- <storybook-button *ngIf="user" size="small" (onClick)="onLogout.emit($event)" label="Log out" ></storybook-button> -->
  </div>
  <div  class="grid relative top-0 right-0 w-2/3 h-full z-0">
    <picture>
      <source srcset="/assets/img/banner-img.avif" type="image/avif">
      <source srcset="/assets/img/banner-img.avif" type="image/webp">
      <img class="w-full h-fusll object-contain" src="/assets/img/banner-img.png" alt="Description of Photo">
    </picture>
  </div>
</div>
